/*
start misc styles
*/
.green {
    color: #008000;
	border:0px;
	text-decoration:none;
	text-shadow: 2px 2px 3px #008000;
}

.red {
    color: #FF0000;
	border:0px;
	text-decoration:none;
	text-shadow: 2px 2px 3px #ff0000;
}

#slideRight{
	display: none;
	position: absolute;
	font-size: 18px; 
	bottom:47px;
	cursor: pointer;
	color :#00B4FF; 
	left: 10px
}
#slideLeft{
	display: none;
	position: absolute;
	font-size: 18px; 
	bottom:27px;
	cursor: pointer;
	color :#00B4FF;
	left: 10px;
}

#ChatBoxtemplate{
	display: none
}

.chatBoxWrap{
	float: left;  
	position: relative 
}
.chatBoxslider{
    float: right;
	position: relative;
}

.chatoverFlow{
	top: 9000px !important
}

.chatoverFlowHide{
	display: none
}
.slideup{
	display: none;

}

.slidedown{
	display: none;

}

/*
End misc styles
*/

/**************/

/*
start group chat box styles
*/
.group_chatboxtime{
	font-size:xx-small;
}
.group_chatbox {
    position: fixed;
	position:expression("absolute");
	width: 416px;
}

.group_chatboxhead {
	background: url(./images/fbar.png);
	padding:7px;
	color: #ffffff;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc
}

.group_chatboxtitle {
	float: left;
}

.group_chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}
.group_chatboxoptions {
	float: right;
}

.group_chatboxtimeseen{
	font-size:x-small;
}

.group_chatboxtime{
	font-size:x-small;
}

.group_chatboxcontentsearch {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:25px;
	width:259px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	background-color:#ffffff;
	line-height: 1.3em;
}

.group_chatboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:340px;
	width:400px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	background-color:#ffffff;
	line-height: 1.3em;
}

.group_chatboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.group_chatboxoptions {
	float: right;
}

.group_chatboxmsg_optionright {
	float: right;
}

.group_chatboxmsg_optionleft {
	float: left;
}

.group_chatboxmsg_container{
    padding: 10px;
	background-color: #f5f5f5;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-top:1px solid #cccccc;
	-webkit-border-radius: 36px 12px;
	-moz-border-radius: 36px 12px;
	border-radius: 36px 12px;
	word-wrap: break-word;
}
.group_chatboxmsg_container_rec{
    padding: 10px;
	background-color:#D8D8D8;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-top:1px solid #cccccc;
	-webkit-border-radius: 36px 12px;
	-moz-border-radius: 36px 12px;
	border-radius: 36px 12px;
	word-wrap: break-word;
}
.group_chatboxmsg_container_online{
    padding: 10px;
	background-color:#f0f6f0;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-top:1px solid #cccccc;
	word-wrap: break-word;
}
/*
End group chat box styles
*/

/*
Start bar styles
*/

.chatBar_containter{
	background: url(./images/cbar.png) repeat-x;
	padding-left: 10px;
	padding-top: 2px;
	width: 100%;
	height: 25px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	text-align: left;
	z-Index: 10000;
	color: white;
}

.chatBar_content_right{
    float: right; 
	padding-right: 30px; 
	padding-top: 3px;
}

.chatBar_content_left{
    float: left; 
	padding-left: 5px; 
	padding-top: 3px;
}

.chatBar_content{
    float: right; 
	padding-right: 30px; 
	padding-top: 1px;
}

.chatBar_content_other{
    float: right; 
	padding-right: 30px; 
	padding-top: 3px;
}

.chatBar_containter a :hover{
	text-decoration: none;
	color: #40FF40;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	text-shadow: 2px 2px 3px #000;
}

.chatBar_containter a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	text-shadow: 2px 2px 3px #000;
}
/*
End bar styles
*/

/**************/

/*
start buddy box styles
*/
.buddybox a {
	color: #000000;
	border:0px;
	text-decoration:none;
	border:0px;
	text-decoration:none;
	text-shadow: 0px 0px 0px #fff;
}

.buddybox a :hover{
	color: #40FF40;
	border:0px;
	text-decoration:none;
	border:0px;
	text-decoration:none;
	text-shadow: 2px 2px 3px #fff;
}

.buddyboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	/*height:400px;*/
	width:214px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color:#ffffff;
	line-height: 1.3em;
}

.buddyboxhead {
	background: url(./images/fbar.png);
	padding:7px;
	color: #ffffff;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc
}

.buddyboxtitle {
	float: left;
}

.buddyboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.buddyboxoptions {
	float: right;
}

.buddybox {
    bottom: 27px;
	left: 0px;
	position: fixed;
	position:expression("absolute");
	width: 230px;
	z-index: 10;
}
/*
End buddy box styles
*/

/**************/

/*
start extra box styles
*/
.extrabox a {
	color: #000000;
	border:0px;
	text-decoration:none;
	border:0px;
	text-decoration:none;
	text-shadow: 0px 0px 0px #fff;
	z-index: 10;
}

.extrabox a :hover{
	color: #40FF40;
	border:0px;
	text-decoration:none;
	border:0px;
	text-decoration:none;
	text-shadow: 2px 2px 3px #fff;
}

.extraboxhead {
	background: url(./images/fbar.png);
	padding:7px;
	color: #ffffff;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc
}

.extraboxtitle {
	float: left;
}

.extraboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.extraboxoptions {
	float: right;
}

.extraboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	/*height:600px;*/
	width:218px;
	overflow-y:auto;
	overflow-x:auto;
	padding:5px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color:#ffffff;
	line-height: 1.3em;
}

.extraboxbottom{
	bottom: 0;
	font-size:xx-small;
}

.extrabox {
    bottom: 27px;
	right: 0px;
	position: fixed;
	position:expression("absolute");
	width: 230px;
	z-index: 10;
}
/*
End extra box styles
*/

/**************/

/*
Start chat box styles
*/

.chatbox {
    position: fixed;
	position:expression("absolute");
	width: 275px;
}

.chatboxhead {
	background: url(./images/fbar.png);
	padding:7px;
	color: #ffffff;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc
}

.chatboxtitle {
	float: left;
}

.chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}
.chatboxoptions {
	float: right;
}

.chatboxtimeseen{
	font-size:x-small;
}

.chatboxtime{
	font-size:x-small;
}

.chatboxcontentsearch {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:25px;
	width:259px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	background-color:#ffffff;
	line-height: 1.3em;
}

.chatboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:220px;
	width:259px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	background-color:#ffffff;
	line-height: 1.3em;
}

.chatboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.chatboxoptions {
	float: right;
}

.chatboxmsg_optionright {
	float: right;
}

.chatboxmsg_optionleft {
	float: left;
}

.chatboxmsg_container{
    padding: 10px;
	background-color: #f5f5f5;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-top:1px solid #cccccc;
	-webkit-border-radius: 36px 12px;
	-moz-border-radius: 36px 12px;
	border-radius: 36px 12px;
	word-wrap: break-word;
}
.chatboxmsg_container_rec{
    padding: 10px;
	background-color:#D8D8D8;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-top:1px solid #cccccc;
	-webkit-border-radius: 36px 12px;
	-moz-border-radius: 36px 12px;
	border-radius: 36px 12px;
	word-wrap: break-word;
}
/*
End chat box styles
*/

/**************/

/*
start gadget box styles
*/
.gadgetboxhead {
	background: url(./images/fbar.png);
	padding:7px;
	color: #ffffff;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc
}

.gadgetboxtitle {
	float: left;
}

.gadgetboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}
.gadgetboxoptions {
	float: right;
}

.gadgetboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	background-color:#ffffff;
	line-height: 1.3em;
}

.gadget_win{
	height: 300px;
	position: fixed;
	left: 100px;
	top: 30px;
	text-align: left;
}
/*
End gadget box styles
*/

.langload{
	border: 0px;
	position: relative;
	top: 6px;
}

.langCont{
	float: right;
	padding-right: 30px;
	position: relative;
	bottom: 2px;
}